<body>
  <footer>
    <div class="container-footer">
      <div class="footer-content">
        <a href="#">SOBRE NÓS</a>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
          sint ex. Quidem voluptas id dicta provident, quod quam earum! Deleniti
          nam consectetur suscipit cumque natus officia doloremque, iusto ex
          alias.
        </p>
        <div class="container-icones">
          <img src="./../imag/facebook.png" class="footer-icons" alt="" />
          <img src="./../imag/instagram.png" class="footer-icons" alt="" />
          <img src="./../imag/wpp.png" class="footer-icons" alt="" />
        </div>
      </div>
    </div>
  </footer>
</body>
