<body>
  <footer>
    <div class="container-footer">
      <div class="footer-content">
        <a href="#">SOBRE NÓS</a>
        <p>
            O site foi criado pensando na problemática das ONGs divulgarem seus
            animais e fazerem campanhas de adoção. Observando essa necessidade,
            foi criado o "Patinhas Felizes", onde diversas ONGs podem se cadastrar
            e mostrar os pets que possuem disponíveis para que você possa adotar!
        </p>
        <div class="container-icones">
          <img src="./../imag/facebook.png" class="footer-icons" alt="" />
          <img src="./../imag/instagram.png" class="footer-icons" alt="" />
          <img src="./../imag/wpp.png" class="footer-icons" alt="" />
        </div>
      </div>
    </div>
  </footer>
</body>
