@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #ffd446;
  box-shadow: 0 3px 10px #bb950bb2;
  justify-content: center;
  z-index: 1;
}

.nav-tudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.nav-item {
  display: inline-block;
  padding: 10px;
}

.nav-item a {
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.login-button button {
  background-color: #7092bf;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px;
}

.login-button button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}

.nav-item a:hover {
  color: #000;
}

/* body */

body {
  background-color: #f5f5f5;
}

.container-main {
  margin-top: 100px;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
}

.container-main p {
  text-align: center;
  margin: 0 150px;
}

.container-main .container-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #7092bf3d;
}

.container-main .container-content .caes {
  margin: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: auto;
  grid-gap: 50px;
}

.card {
  border-radius: 7px;
  height: 380px;
  width: 350px;
  color: rgb(0, 0, 0);
  position: relative;
  box-shadow: 0 3px 10px #2626265c;
}

.textcard {
  position: absolute;
  bottom: 0;
  padding: 0 0 15px 15px;
}

@media (max-width: 810px) {
  .container-main {
    margin-top: 150px !important;
  }
}

@media (max-width: 602px) {
  .container-main {
    margin-top: 200px !important;
  }
}

@media (max-width: 530px) {
  .container-main {
    margin-top: 230px !important;
  }
}

@media (max-width: 490px) {
  .container-main {
    margin-top: 280px !important;
  }
}

@media (max-width: 460px) {
  .container-main {
    margin-top: 300px !important;
  }
}

.info-button {
  width: 300px;
  background-color: #ffffff91;
  padding: 10px 15px;
  border-radius: 5px;
  color: #577499;
  border: 2px solid #577499;
  margin: 10px;
  cursor: pointer;
}

.adotar-button {
  width: 300px;
  background-color: #ffd446;
  padding: 10px 15px;
  border-radius: 5px;
  color: #577499;
  border: none;
  margin: 10px;
  cursor: pointer;
}
/* footer */

footer {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #577499;
  background-color: #ffd446;
  text-align: center;
  margin-top: 200px;
  width: 100%;
}

.footer-content {
  padding-top: 10px;
  margin: 0 40px 9px 40px;
}

.footer-content a {
  text-decoration: none;
  list-style: none;
}

.container-icones {
  box-sizing: border-box;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  grid-gap: 80px;
}

.footer-icons {
  width: 40px;
  height: 40px;
}

/* form */

.container-login {
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 19px;
  padding: 50px 0 15px 0;
  width: 500px;
  background-color: #ffd446;
  color: #ffffff;
  box-shadow: 0 3px 10px #bb950bb2;
}

.login-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.8s;
}

.login-link:hover {
  color: #405672;
}

input {
  padding: 8px;
  outline: none;
  border-radius: 3px;
  margin: 8px;
  border: 1px;
}

.entrar-button {
  background-color: #7092bf;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  color: #ffffff;
  width: 46%;
  font-weight: 500;
  border: none;
  transition: 0.8s;
}

.entrar-button:hover {
  background-color: #405672;
}
.login-link-p {
  padding: 20px;
  font-weight: 500;
}

/* main cadastro adotante */

.cadastro-adotante {

  color: white;

}


#caixaFormulario {

  background-color: #ffd446;
  border-radius: 15px;
  border: 0, 5px solid black;
  margin-right: 90mm;
  margin-left: 80mm;
  margin-block-start: 30mm;

}

.cadastro-adotante h1 {

  color: #7092bF;
  text-align: center;
  padding: 10mm;

}


#caixa{

  padding-left: 45mm;

}

.cadastro-adotante form {

  line-height: 7mm;
  margin-left: 50mm;
  margin-right: 40mm;
  
}

.formulario{

  font:1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  vertical-align: top;
  height: 5em;
  box-shadow: #7092be;

}

.formulario-input{

  border-radius: 5px; 
  width: 40mm;
  height: 5mm;

}

#botaoCadastroAdotante {

  margin-block-start: 10mm;
  color: white;
  background-color: #7092bF;
  width: 20mm;
  height: 10mm;
  margin-left: 30mm;
  margin-right: 20mm;
  margin-block-end: 10mm;

}


